#city-card {
    background-color: rgba(255, 255, 255, 0.459);
    width: 100%;
    font-size: 30px;
}

.card img {
    height: -webkit-fill-available;
    object-fit: cover;
}

.card img.materialized.active {
    max-height: none;
    object-fit: none;
}