#city-card {
    background-color: rgba(255, 255, 255, 0.459);
    width: 100%;
    font-size: 30px;
}

.card img {
    height: -webkit-fill-available;
    object-fit: cover;
}

.card img.materialized.active {
    max-height: none;
    object-fit: none;
}

#dash-city:hover {
    background-color: rgba(255, 255, 255, 0.459);
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#dash-city {
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);


}